server:
  port: 8002
  forward-headers-strategy: FRAMEWORK
  error:
    includeStacktrace: never
management:
  endpoints:
    web:
      exposure:
        include: "configprops, env, health, metrics"
