spring:
  main:
    webApplicationType: NONE

sattrackclient:

  # enable/disable automatic scheduling
  # disable scheduler for unit testing
  schedulerAutoStartDisabled: false

  # how long do we wait in case of error
  # while scheduling next event
  schedulerErrorWait: 180 # seconds

  # SatTrackAPI base URL
  satTrackApiUrl: https://sattrackapi.ultima.hr:8443/api/v1

  # station details
  station:
    name: "Pregrada/Ultima"
    latitude: 46.1613
    longitude: 15.7534
    altitude: 200

  rotator:
    rotctldHost: 127.0.0.1
    rotctldPort: 4533
    stepSize: 0.25 # seconds
    halfFlipHighElPasses: true # should the second half of passes through or near zenith be flipped?
    halfFlipHighElPassesMinElevation: 75 # minimum elevation for half-flip

  # satellites we're tracking

  # You can use the following placeholders in shell cmd templates:
  # ${satId} - string
  # ${satName} - string
  # ${radioFrequency} - double [MHz]
  # ${predictTime} - Unix epoch
  # ${rise} - Unix epoch
  # ${set} - Unix epoch
  # ${duration} - double [sec]
  satelliteData:
    - id: 25338
      name: "NOAA15"
      radioFrequency: 137.62
      minElevation: 5.0
      stepSize: 1
      rotatorEnabled: true
      satRiseShellCmdTemplate: ""
      satSetShellCmdTemplate: ""
    - id: 28654
      name: "NOAA18"
      radioFrequency: 137.9125
      minElevation: 5.0
      stepSize: 1
      rotatorEnabled: true
      satRiseShellCmdTemplate: ""
      satSetShellCmdTemplate: ""
    - id: 33591
      name: "NOAA19"
      radioFrequency: 137.1
      minElevation: 5.0
      stepSize: 1
      rotatorEnabled: true
      satRiseShellCmdTemplate: ""
      satSetShellCmdTemplate: ""
    - id: 40069
      name: "METEOR-M2"
      radioFrequency: 137.1
      minElevation: 5.0
      stepSize: 1
      rotatorEnabled: true
      satRiseShellCmdTemplate: ""
      satSetShellCmdTemplate: ""
    - id: 44387
      name: "METEOR-M2-2"
      radioFrequency: 137.1
      minElevation: 5.0
      stepSize: 1
      rotatorEnabled: true
      satRiseShellCmdTemplate: ""
      satSetShellCmdTemplate: ""
    - id: 98067A
      name: "ISS"
      radioFrequency: 137.1
      minElevation: 5.0
      stepSize: 1
      rotatorEnabled: true
      satRiseShellCmdTemplate: ""
      satSetShellCmdTemplate: ""
